/* style.css */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: white;
}

.header {
    text-align: center;
    font-size: 28px;
    margin-bottom: 1rem;
}

#popup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
    z-index: 1;
}

.popup>button {
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: salmon;
    border: none;
    cursor: pointer;
    transition: ease-in, 300ms;
}

.popup>button:hover {
    transform: scale(1.1);
}

.stage {
    margin: 0 auto;
    outline: 2px solid white;
    background-color: rgba(134, 134, 134, 0.5);
}

.stage>tr {
    width: 100%;
    height: 25px;
}

.stage>tr>td {
    width: 25px;
    height: 25px;
    outline: 1px solid white;
}

/* block color */

.square {
    background-color: #cc0b10;
}

.L {
    background-color: #369a30;
}

.L2 {
    background-color: #1265a6;
}

.I {
    background-color: #5ab0bd;
}

.Z {
    background-color: #da8400;
}

.Z2 {
    background-color: #894085;
}

.H {
    background-color: #ebd500;
}